/* Variables */
/* GLOBAL STYLES */
html, body {
  width: 100%;
  overflow-x: hidden !important; }

h3 {
  font-size: 2.2em !important;
  font-weight: 400 !important;
  letter-spacing: 2px; }

.float-left {
  float: left; }

.float-right {
  float: left; }

.hr_black {
  width: 35px;
  border-color: black;
  margin-left: 0; }

.hr_red {
  width: 35px;
  border-color: #EB5F55 !important;
  align: center !important; }

.landing_bg_img {
  position: fixed;
  left: -1%;
  top: -43%;
  height: 1200px;
  z-index: 0; }

.landing_svg_img {
  left: 59%;
  top: 0px;
  position: fixed;
  width: 326px;
  height: 569px;
  z-index: 0; }

.landing_btm_img {
  position: absolute;
  top: 612px;
  left: 35px;
  height: 300px; }

.feature_bg_img {
  position: absolute;
  top: 35px;
  left: -721px;
  height: 1000px;
  z-index: 0; }

.sub-svg-img {
  position: absolute;
  top: 74.5%;
  left: 49px;
  height: 250px;
  z-index: 11; }

.btm-circle {
  bottom: 0;
  position: absolute;
  width: 2084px;
  left: -32%;
  z-index: 0; }

.ft-side-bg {
  position: absolute;
  top: 400px;
  right: -300px;
  z-index: 0; }

.access-button {
  background: #EB5F55 !important;
  padding: 1.4em 4em !important;
  color: white !important;
  border: none !important;
  cursor: pointer; }

.my-form {
  width: 50%; }

/* HEADER STYLES */
header {
  padding: 2em 6em;
  background: #F9F9F9;
  z-index: 10; }
  header img {
    padding-top: 6px;
    height: 45px;
    position: relative;
    z-index: 10; }
  header ul {
    color: gray;
    float: right;
    list-style-type: none;
    position: relative;
    z-index: 3; }
    header ul li {
      font-size: 1.25em;
      float: left;
      margin: 0 1.3em; }

.header-ls {
  padding-top: .8em;
  cursor: pointer; }

.header-button {
  background: #EB5F55 !important;
  color: white !important;
  padding: .5em 2em !important;
  font-size: 1.25em !important; }

/* LANDING STYLES */
.landing-cont {
  width: 100%;
  background: #F9F9F9;
  height: 678px; }

.landing-text {
  width: 100%;
  padding: 6em 6em 13em 6em;
  position: relative;
  z-index: 10; }
  .landing-text p {
    font-size: 1.5em;
    font-weight: lighter;
    letter-spacing: 2px; }

.input-form {
  background-color: white;
  padding: 1em;
  border: none; }

/* FEATURES STYLES */
.features-cont {
  background: #EEEEEE;
  width: 100%;
  position: relative;
  z-index: 100;
  padding: 10em 6em 0 6em; }

.features_info {
  text-align: center;
  font-size: 1em;
  font-weight: lighter; }
  .features_info p {
    margin-bottom: 2em; }

.info_icons {
  padding: 0 18em; }

.features_more_info {
  margin-top: 10em;
  position: relative;
  z-index: 10; }

.ft-img {
  height: 90px;
  margin-bottom: 1em;
  margin-top: 1em; }

.features_card {
  padding: 2em;
  background: #F9F9F9;
  width: 102%;
  margin-bottom: 15px;
  height: 208px; }

.ft-cd-img {
  height: 120px; }

/* WHY STYLES */
.why_use {
  margin: 12em 0;
  text-align: center;
  padding: 0 20em;
  font-size: 1em;
  font-weight: lighter;
  position: relative;
  z-index: 10; }

.subscribe-box {
  background: #F9F9F9;
  padding: 5em 2em;
  position: relative;
  z-index: 10;
  margin-bottom: 7em; }

.sub-form {
  margin-left: 40%;
  width: 57%; }

.footer-cont {
  padding-top: 10em; }

.footer-logo {
  padding-bottom: 3em;
  z-index: 10;
  position: relative; }

.footer-cw {
  text-align: center;
  position: relative;
  bottom: -129px; }

.footer-socials {
  z-index: 10;
  position: relative; }

@media screen and (max-width: 500px) {
  header ul {
    position: absolute;
    margin-left: -5em; }
  header ul li {
    margin: 0 1em !important; }

  .landing_bg_img {
    display: none; }

  .landing_svg_img {
    display: none; }

  .feature_bg_img {
    display: none; }

  .ft-side-bg {
    display: none; }

  .sub-svg-img {
    display: none; }

  .btm-circle {
    display: none; }

  .landing_btm_img {
    display: none; }

  .landing-text {
    padding: 9em 2em 6em 2em !important; }

  .my-form {
    width: 100% !important; }

  .my_input_form {
    width: 100% !important; }

  .features-cont {
    padding: 6em 2em 0 2em !important; }

  .info_icons {
    padding: 0 !important; }

  .features_more_info {
    margin-top: 6em; }

  .ft-cd-img {
    height: 50px; }

  .features_card {
    padding: 1em;
    font-size: 0.8em;
    background: #F9F9F9;
    width: 109%;
    margin-bottom: 15px;
    height: 208px; }

  .why_use {
    margin: 6em 0 !important;
    padding: 0 !important; }

  .sub-form {
    margin: 0 !important;
    width: 100% !important; }

  .footer-cont {
    padding: 0 !important; } }

/*# sourceMappingURL=main.css.map */
